h1, h2 {
  text-decoration: underline;
}

.education {
  
}

.projects {
  
}

img {
  height: auto; 
  width: auto;
  max-width: 300px; 
  max-height: 300px;
}

body {
  background-color: lightgreen;
}