h2 {
  text-decoration: underline;
}

.jumbotron {
  text-align: center;
  background-color: lightgreen;
}

.panel > .panel-heading {
  background-color: coral;
  color: black;
  border-color: transparent;
}

div > .panel {
  border: none;
}

.panel-body {
  background-color: lightyellow;
  border: none;
}

.education {
  padding-top: 3px;
  font-weight: bold;
}

.projects {
  
}

img {
  height: auto; 
  width: auto;
  max-width: 300px; 
  max-height: 300px;
}

body {
  background-color: lightgreen;
  font-family: serif;
}