h2 {
  text-decoration: underline;
  text-align: center;
}

.thanks {
  text-align: center;
  font-size: medium;
}

.jumbotron {
  background-color: coral;
  text-align: center;
}

.panel > .panel-heading {
  background-color: coral;
  color: black;
  border-color: transparent;
}

.panel-title {
  font-size: xx-large;
}

div > .panel {
  border: none;
}

.panel-body {
  background-color: lightyellow;
  border: none;
  font-size: medium;
}

.well {
  background-color: lightyellow;
  border-style: none;
}

.education {
  text-align: center;
}

img {
  height: auto; 
  width: auto;
  max-width: 300px; 
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(32, 178, 154);
  font-family: serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  overflow: auto;
  width: 1100px; 
  background-color: coral;
}

  ol {
    text-align: center;
    list-style-position: inside;
  }